.App {
  text-align: center;
  background-color: #61dafb;
  margin: auto;
}
.card{
  height: 400px;
  width: 800px;
  background-color: darkslategray;
  margin-bottom: 20px;
  margin-left: 270px;


  box-sizing: border-box;
  display: flex;
  justify-content:center;
}


.card1{
 
  margin: auto;
  
}
.rating-search{
  color: gold;
}
.modal{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: thistle;
  height: 300px;
  width: 300px;
  margin: auto;
}
h2 {
  color: gold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 40px;
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  letter-spacing: 1px;
}
h5{
  color: gold;
}

h4{
  color: beige;
}
.Trailer {
  display: flex;
  justify-content: space-around;
  max-width: 90%;
  margin-top: 2%;
  margin-bottom: 5%;
}
/* .Img {
  width: 30%;
}
.vid {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */